body{
    text-align: center;
}
nav ul{
    
    list-style-type: none;
}

footer nav ul{
    list-style-type: none;
}

ul#horizontal li{
    display: inline;
}
p#lefty{
    text-align: left;
    background-color: blueviolet;
    
}